
// Color
$main-color					: #7300a0;
$light-soft-color			: #ECF0F1;
$main-soft-color			: #967ADC;
$dark-color					: #434A54;
$light-color				: #f3f3f3;
$grey-color					: #dadada;
$white-color				: #FFFFFF;
$black-color				: #222222;
$green-color				: #8CC152;
$orange-color				: #F6BB42;
$red-color					: #E9573F;

// Dimensions
$base-height				: 37px;
$base-colspace				: 15px;
$base-z-index				: 1000;
$max-z-index				: 9999;

// Font
$font-size					: 13px;
$font-family				: Menlo,Monaco,Consolas,"Courier New",monospace;

// Navbar
$bar-height				: $base-height;